Datatypes
--
>int - Plain integer

>float - Floating point number

>complex - Complex no, Real and Imaginary part

>boolean - True and False

>sequence - string, list, tuple

>mapping - Dictionary

>set - unordered collection of distinct objects

>file - used to make file system objects

Typecasting
--

In [3]:
# String/float to int
x = int(float('2017.0'))
y=int("5789")
print(type(y))

<class 'int'>

In [4]:
type(x)

int

In [5]:
type('2017')

str

In [6]:
int(3.12365615165)

3

In [7]:
# type your code here
int(float('2017.323'))

2017

In [8]:
# String/int to float
float(1.99)

1.99

In [9]:
float(4)

4.0

# int, float, list, tuple, dictionary to string
Note: [] is for list
() is for tuple
str(3.122)

In [10]:
l = (10, 2.123,"Darshan",2+3j,True)
print(l)
print(type(l))
print(l[0])
print(l[-2])

k=(10,3.77,'oops',7+3j,False)
print(type(k))
print(type(k[2]))
print(type(k[-2]))

(10, 2.123, 'Darshan', (2+3j), True)
<class 'tuple'>
10
(2+3j)
<class 'tuple'>
<class 'str'>
<class 'complex'>

In [15]:
g=list( [1,2,3,4] )
l=str([1,6,8,4])
print(g)
print(l)
print(type(g))
print(type(l))

[1, 2, 3, 4]
[1, 6, 8, 4]
<class 'list'>
<class 'str'>

In [17]:
# string, tuple, dict to list
list('Darshan')

list('raj')

['r', 'a', 'j']

In [16]:
list( (1,2,3,4) )

[1, 2, 3, 4]

In [17]:
# string, list to tuple
# type your code here
tuple("Darshan")
tuple('rajadhav')

('r', 'a', 'j', 'a', 'd', 'h', 'a', 'v')

In [8]:
tuple([1,2,3,4])

(1, 2, 3, 4)

Operators
--

>Arithmetic: + - * / %
>// Floor Division
>** exponentiation

>Relational: < <= > >= != ==

>Logical: and or not

>Bitwise: & | ^ ~ << >>

>Membership: in, not in

>Identity: is,is not

In [14]:
print(2+3)
print(3-2)
print(2*3)
print(6/4)
print(6//4)
print(6%4)
print(2**3)

5
1
6
1.5
1
2
8

In [9]:
print(2<3)
print(3<=3)
print(3<=4)
print(3<=2)
print(3==3)
print(4==3)
print(4!=3)
print(3!=3)

True
True
True
False
True
False
True
False

In [18]:
2<3

True

In [12]:
# type your code here

In [18]:
s=True
t=False
print(s and t )
print(not(s))

False
False

In [19]:
# type your code here

In [19]:
s=2 
t=4 
res=0
print(s&t)
print(s|t)
print(s^t)
print(s>>1)
print(s<<1)

0
6
6
1
4

In [21]:
s = "Darshan"
print("D" in s)
print("s" in s)
print("d" in s)
print("D" not in s)
print("d" not in s)

k = 'raj'
print('k'in k)

True
True
False
False
True
False

In [24]:
l = [1,2,3,4,5]
3 in l

l =[3,5,8,6]
print(6 in l)

True

In [16]:
a = 2
b = 2
print(id(a))
print(id(b))
print(a is b)
b = 25
print(id(a))
print(id(b))
print(a is b)

140732258461504
140732258461504
True
140732258461504
140732258462240
False

In [17]:
a is not b

True

Looping Statements:
    --

In [25]:
n = [1,2,3,4,5,7,8,9,10]
for i in n:
    print(i)
print("Out of for loop")


j= [5,6,9,2,6]

k=[5,9,6,3,1,5]
for i in k:
    print(i)

1
2
3
4
5
7
8
9
10
Out of for loop
5
9
6
3
1
5

In [26]:
# type your code here
names = ["Darshan", "Coach", "Board Infinity"]
for i in names:
    print(i)

Darshan
Coach
Board Infinity

In [27]:
# type your code here
s = "Machine Learning"
for i in s:
    print(i,end="")

Machine Learning

In [29]:
o = [8,6,9,2,3]
for i in o:
    print(i)

8
6
9
2
3

range function:
--

>range(5): It goes from 0 to 4 to generate a sequence of numbers

>range(start, stop, stepsize): Default stepsize is 1

In [30]:
range(5)

range(0, 5)

In [31]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [32]:
for i in range(2,5):
    print(i,end=" ")
for j in range(2,10,2):
    print(j,end='')

2 3 4 2468

In [31]:
for i in range(2,10):
    print(i,end=" ")

2 3 4 5 6 7 8 9

In [33]:
for i in range(2,10,2):
    print(i,end=" ")

2 4 6 8

In [34]:
for i in range(2,15,3):
    print(i,end=" ")

2 5 8 11 14

In [36]:
# Program to display sum of numbers
# type your code here

sum=0
for i in range(5):
    sum = sum + i
print("Sum= ",sum)


s=0
for o in range(10):
    s = s+o
print(s)

Sum=  10
45

In [35]:
# Program to display even numbers in given range
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

while loop:

SYNTAX:

initialization
while condition:
    do this
    do this
    increment/decrement

In [38]:
# while
i=1
while i<=5:
    print(i)
    i = i+1 # i++ doesnt exist in python

1
2
3
4
5

In [41]:
o=2 
while o<=5:
    print(o)
    o = o+1

2
3
4
5

In [42]:
s = "Machine Learning"
i=0
while i<len(s):
    d =s[i]
    print(d)
    i=i+1

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g

In [20]:
# Nested for
for i in range(5):
    for j in range(i):
        print("*",end = " ")
    print("\n")

*

* *

* * *

* * * *

In [47]:
range(3)

range(0, 3)

Conditional execution
--

In [49]:


c=4
if c>0:
    print(c)
    print('taj')
print('hello')

4
taj
hello

In [52]:
x=5
if x%2==0:
    print(x," is even")
else:
    print(x," is odd")
print("Finally I got it predicted as an EVEN or ODD Number")

5  is odd
Finally I got it predicted as an EVEN or ODD Number

In [25]:
x=2
if x<0:
    print(x)

In [70]:
# if statement
x = 40
if x>35:
    print(x,"is greater that 35")
else:
    print(x,"is less than or equal to 35")

40 is greater that 35

In [71]:
# Chained Conditionals
x = 35
if x>35:
    print(x,"is greater that 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

35 is equal to 35

In [72]:
# Nested Conditionals
x = 35
if x>35:
    print(x,"is greater that 35")
else:
    if x<35:
        print(x,"is less than 35")
    else:
        print(x,"is equal to 35")

35 is equal to 35

In [54]:
# Nested Conditionals
x = 34
if x<35:
    if x==35:
        print(x,"is equal to 35")
    else:
        print(x,"is less than 35")
else:
    print(x,"is greater than 35")

34 is less than 35

If there is an else clause, it has to be at the end, but there doesnt have to be one.

In [58]:

        
h=[2,4,6,8,10]
for j in h:
    if j ==8:
        continue
    else:
        print(j)

2
4
6
10

In [40]:
# continue
# It is used to skip the current iteration.

n = [1,2,3,4,5]
for i in n:
    if(i==4):
        continue
    else:
        print(i)

1
2
3
5

In [47]:
# continue
# It is used to skip the current iteration.

n = [1,2,3,4,5,6,4,7,8,4,9,10,4,555,4,6,7,5,32,5,2,1,4,5,6,99,100,5,66]
for i in n:
    if(i==4 or i==5):
        continue
    else:
        print(i,end=", ")

1, 2, 3, 6, 7, 8, 9, 10, 555, 6, 7, 32, 2, 1, 6, 99, 100, 66,