Lists
--
> It is similar to arrays.

    > It can contain any type of variable of distinct type

In [45]:
# empty list
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [46]:
st = [1,2,3]
print(st)

[1, 2, 3]

In [47]:
st = [1,22.33,"Machine",2+3j,False]
print(st)
print(type(st))

[1, 22.33, 'Machine', (2+3j), False]
<class 'list'>

In [48]:
l = [10,20,30,40,50,60]
# Indexing
print(l)
print(l[3])
print(l[5])
print(l[-1])
print(l[-5])
# Slicing
print(l[1:5])
print(l[3:])
print(l[:4])
print(l[-5:-1])

[10, 20, 30, 40, 50, 60]
40
60
60
20
[20, 30, 40, 50]
[40, 50, 60]
[10, 20, 30, 40]
[20, 30, 40, 50]

In [49]:
l = (10,20,30,40,50,60)
# Indexing
print(l)
print(l[3])
print(l[5])
print(l[-1])
print(l[-5])
# Slicing
print(l[1:5])
print(l[3:])
print(l[:4])
print(l[-5:-1])

(10, 20, 30, 40, 50, 60)
40
60
60
20
(20, 30, 40, 50)
(40, 50, 60)
(10, 20, 30, 40)
(20, 30, 40, 50)

Lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement.

In [50]:
st = ['A','B','C','D','E']
print(st)
print(st[0])
st[0]=999
print(st)
print(st[0])

['A', 'B', 'C', 'D', 'E']
A
[999, 'B', 'C', 'D', 'E']
999

In [51]:
# Tuples are immutable i.e. FIXED
st = ('A','B','C','D','E')
print(st)
print(st[0])
st[0]=999
print(st)
print(st[0])

('A', 'B', 'C', 'D', 'E')
A

TypeError: 'tuple' object does not support item assignment

In [52]:
# List of lists
l=[1,2,[100,200,300],31,40,50]
print(l)
print(l[0])
print(l[2])
print(type(l[2]))
print(l[2][1])
print(type(l[2][1]))

[1, 2, [100, 200, 300], 31, 40, 50]
1
[100, 200, 300]
<class 'list'>
200
<class 'int'>

In [53]:
# List containing tuple
l=[1,2,(100,200,300),31,40,50]
print(l)
print(l[0])
print(l[2])
print(type(l[2]))
print(l[2][1])
print(type(l[2][1]))

[1, 2, (100, 200, 300), 31, 40, 50]
1
(100, 200, 300)
<class 'tuple'>
200
<class 'int'>

In [54]:
# Tuple containing Tuple
l=(1,2,(100,200,300),31,40,50)
print(l)
print(l[0])
print(l[2])
print(type(l[2]))
print(l[2][1])
print(type(l[2][1]))

(1, 2, (100, 200, 300), 31, 40, 50)
1
(100, 200, 300)
<class 'tuple'>
200
<class 'int'>

In [55]:
# Tuple containing Tuple
l=(1,2,[100,200,300],31,40,50)
print(l)
print(l[0])
print(l[2])
print(type(l[2]))
print(l[2][1])
print(type(l[2][1]))

(1, 2, [100, 200, 300], 31, 40, 50)
1
[100, 200, 300]
<class 'list'>
200
<class 'int'>

In [56]:
l=[1,2,3,4,5]
print(l)
l.remove(2)
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [57]:
l=[1,2,3,4,5]
l.remove(22)
print(l)

ValueError: list.remove(x): x not in list

In [58]:
l=[1,2,3,4,5]
print(l)
del l[1]
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [59]:
# Concatenation
l1=[1,2,3]
l2=[11,12,13]
l1+l1

[1, 2, 3, 1, 2, 3]

In [1]:
l = [1,2,3,4,5,6,7,8,9,10]
l1 = l[3:7]
print(l)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7]

In [3]:
l=[10,11,12.156,13.16456,177]
print(sum(l))
print(len(l))
print( sum(l)/len(l) )
print( int(sum(l)/len(l)) )
print( round((sum(l)/len(l)),2) )

223.32056
5
44.664112
44
44.66

Traversing a list
--

In [62]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
for i in names:
    print(i,end=", ")

Darshan, Python Trainer, Deep Learning Trainer, ML Trainer,

In [5]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
for i,e in enumerate(names):
    print(i,e)

0 Darshan
1 Python Trainer
2 Deep Learning Trainer
3 ML Trainer

In [64]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
len(names)

4

In [6]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
for i in range(len(names)):
    print(i)

0
1
2
3

In [7]:
dot_names_join = ".".join(names)
dot_names_join

'Darshan.Python Trainer.Deep Learning Trainer.ML Trainer'

In [8]:
# pop method
s=[1,2,3,4,5,6,7,55,44]
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)

[1, 2, 3, 4, 5, 6, 7, 55, 44]
[1, 2, 3, 4, 5, 6, 7, 55]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [9]:
print(s)

[1, 2, 3, 4, 5]

In [72]:
s.pop(1)

2

In [73]:
s

[1, 3, 4, 5]

In [80]:
l1=[3,2,1,5,4]
print(l1)
print(l1[:])
print(min(l1))
print(max(l1))
l1.insert(2,999)
print(l1)
l1.append(777)
print(l1)
l1.extend([500,600,700])
print(l1)
l1.sort()
print(l1)
l1.sort(reverse=True)
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[3, 2, 999, 1, 5, 4, 777, 500, 600, 700]
[1, 2, 3, 4, 5, 500, 600, 700, 777, 999]
[999, 777, 700, 600, 500, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 500, 600, 700, 777, 999]
[]

In [81]:
# + concatenates list
l1=[1,2,3]
l2=[2,3,4]
l1+l2

[1, 2, 3, 2, 3, 4]

In [82]:
# * means repetition
["Darshan","Ingle"]*4

['Darshan',
 'Ingle',
 'Darshan',
 'Ingle',
 'Darshan',
 'Ingle',
 'Darshan',
 'Ingle']

In [83]:
[0]*4

[0, 0, 0, 0]

In [84]:
# Program to all the letters from list1 that are present in list2
def dunc(list1,list2):
    for e in list1:
        if e in list2:
            print(e)
dunc("Darshan","Darknet")

D
a
r
a
n

Tuples
--
> Tuple is similar to a list. However, in tuples, we cannot change the elements after assignment i.e they are immutable.

> Each element or value inside the tuple is called an item.

In [85]:
# empty tuple
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [86]:
t = (1)
print(t)
print(type(t))

1
<class 'int'>

In [88]:
# Single value tuple must use a comma
# type your code here

t=(1,)
print(t)
print(type(t))
print(t[0])

(1,)
<class 'tuple'>
1

In [89]:
t = (1,2,33.4443,5,6)
# INDEXING and SLICING
# Reefer Above

In [94]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [95]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [96]:
3 in t1

True

In [97]:
len(t1)

3

In [98]:
max(t1)

3

Tuples can be used to return more than one return values.
--

In [99]:
def feed(topel):
    f1=max(topel)
    f2=min(topel)
    return (f1,f2)
z=feed((2,3,1,4,32))
print(z)

(32, 1)

In [100]:
def feed(topel):
    f1=topel+1
    f2=topel-5
    return (f1,f2)
z=feed(2)
print(z)

(3, -3)

In [104]:
def var(args):
    print(args)

var(1)
var(1,55)
var(33,55,12)

1

TypeError: var() takes 1 positional argument but 2 were given

Variable Length Arguments.
--

In [103]:
def var(*args):
    print(args)

var(1)
var(1,55)
var(33,55,12)

(1,)
(1, 55)
(33, 55, 12)

In [111]:
# Program to store numbers from 0 to 100 in a list
l = []
for i in range(101):
    l.append(i)
print(l)
print()
z = []
for i in l:
    if i<20 or i>40:
        z.append(i)
print(z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [10]:
def mno(l):
    print(l*2)

mno( ["Darshan","Ingle"] )

['Darshan', 'Ingle', 'Darshan', 'Ingle']

In [11]:
# + concatenation
# * repetition
t1=(1,2,3)
t2=(5,6,4,1)
print(t1+t2)
print(t1*3)
print(len(t1))
print(max(t1))
print(min(t1))
print(tuple([1,2,3,4,5,6]))
print(list((1,2,3,4,5,6)))

(1, 2, 3, 5, 6, 4, 1)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3
3
1
(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]

# List Comprehension

In [112]:
# Program to store numbers from 0 to 100 in a list
l = []
for i in range(101):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [115]:
# List Comprehension
l = [ i for i in range(101) ]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [117]:
# List Comprehension
l = [ i for i in range(101) if i%2==0 ]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [122]:
# List Comprehension
num = [10,20,30,40,50,60,70,80,90,100]
l = [ i if i>50 else 0 for i in num ]
print(l)

[0, 0, 0, 0, 0, 60, 70, 80, 90, 100]

In [126]:
squares = { i:i*i for i in range(11) }
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [17]:
mat = [ [i for e in range(3)] for i in range(5) ]
mat

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]

In [18]:
# List Comprehension
# Sum of all even nos from 0 to 100
sum([ i for i in range(101) if i%2==0 ])

2550

# Happy Learning